

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-option.mdc-list-item {
    background: #fff !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    color: #000 !important;
}
